{{define "header"}}
<header class="site-header">
    <div class="logo">
        <a href="/">LearnFlow</a>
    </div>
    <nav class="nav-links">
        {{if .IsAuth}}
        <a href="/profile" class="back-link" style="margin-right: 15px;">Профиль</a>
        <a href="/cart" class="btn btn-success">Корзина ({{.CartCount}})</a>
        <a href="/logout" class="back-link">Выйти</a>
        {{else}}
        <a href="/login" class="back-link">Войти</a>
        <a href="/register" class="btn">Регистрация</a>
        {{end}}
    </nav>
</header>
{{end}}